<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h1><span th:utext="${hello}"></span></h1>
<table border="1">
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
    </tr>
    <tr th:object="${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tr>
</table>
<P><a th:href="@{admin/rolesList}">Список ролей</a></P>
<p><a th:href="@{admin/usersList}">Список пользователей</a></p>
<table>
    <tr>
        <button th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" onclick="history.back()">Назад</button>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выход"/>
        </form>
    </tr>
</table>
</body>
</html>