<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Список пользователей</h1>
<h2><a href="newUser">Новый пользователь</a> </h2>
<div>
    <table>
        <tr>
            <button onclick="history.back()">Назад</button>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выход"/>
            </form>
        </tr>
    </table>
    <p></p>
    <table border="1">
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
        <tr th:each="user :${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <th:block th:each="role :${user.getRoles()}">
                    <small th:text="${role.getRoleName()}"></small>
                </th:block>
            </td>
            <td>
                <a th:href="@{edit(id=${user.getId()})}">Изменить</a>
                <a th:href="@{delete(id=${user.getId()})}">Удалить</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>